:root {
    --color-primary: #315B8C;
    --color-text: #413333;
    --color-background: #F5EBDD;
    --color-accent: #F2765E;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);

    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 20vh;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.01em;

    margin-bottom: 0;
}

.text-muted,
table tbody td:nth-child(1) {
    color: color-mix(in srgb, var(--color-text) 70%, white);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}