:root {
    --color-primary: #315B8C;
    --color-text: #413333;
    --color-background: #F5EBDD;
    --color-accent: #F2765E;
}

/* <<< css reset >>> */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margins and padding for common layout elements */
* {
    margin: 0;
    padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html,
body {
    height: 100%;
}

/* 4. Improve media defaults and prevent overflow */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 5. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* 6. Avoid text overflows and improve text rendering */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 7. Balance headings and format paragraphs for readability */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
    max-width: 75ch;
}

/* 8. Enable smooth scrolling (optional, omit if causing accessibility jumps) */
html {
    color-scheme: light dark;
    /* Automatically supports browser default dark mode */
}

body {
    background-color: var(--color-background);
    color: var(--color-text);

    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 20vh;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.01em;

    margin-bottom: 1.2rem;
}

.text-muted,
table tbody td:nth-child(1) {
    color: color-mix(in srgb, var(--color-text) 70%, white);
}

.changelog-list {
    display: grid;
    grid-template-areas: "datetime marker content";
    justify-content: center;
}

.changelog-item {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: -1/1;
    padding: 10px 0 10px 0;
}

.datetime {
    text-align: right;
    white-space: nowap;
    margin-right: 2rem;
}

.marker {
    width: 2rem;
}

.marker::before {
    content: "";
    display: block;

    width: 1rem;
    height: 1rem;

    background: var(--color-text);

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    border-radius: 50%;
}

.marker::after {}

.content {
}




/* circle:

    width: 1rem;
    height: 1rem;

    background: var(--color-text);

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    border-radius: 50%; */